@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7indup');
  src:  url('fonts/icomoon.eot?7indup#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7indup') format('truetype'),
    url('fonts/icomoon.woff?7indup') format('woff'),
    url('fonts/icomoon.svg?7indup#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-core:before {
  content: "\e902";
}
.icon-typeorm:before {
  content: "\e900";
}
.icon-wpf:before {
  content: "\e901";
}
